<html>
  <head>
    <title>Threema Chat Output - <%= set.filename %></title>
    <meta name="viewport" , content="width=device-width, initial-scale=1" />
    <%- '<style>' + style + '</style>'%>
  </head>
  <body>
    <div class="chat-wrapper">
      <% const messages = Object.values(set.messages) %> 
      <% for(let i =0; i <messages.length; i++) { %>
        <% const side = messages[i].isoutbox === '0' ? 'left' : 'right'; %>
        <div class="message-wrapper <%= side %>">
          <div class="message-bubble">
            <% if (messages[i].type === 'TEXT') { %>
              <%- include('text', { message: messages[i] }) %>
            <% } else if (messages[i].type === 'FILE') { %>
              <%- include('file', { message: messages[i] }) %>
            <% } else if (messages[i].type === 'BALLOT') { %>
              <%- include('ballot', { message: messages[i] }) %>
            <% } else if (messages[i].type === 'LOCATION') { %>
              <%- include('location', { message: messages[i] }) %>
            <% } else { %>
                <div>Other</div>
            <% } %>
            <div class="date"><%= messages[i].formatted_date %></div>
          </div>
        </div>
      <% } %>
    </div>
  </body>
</html>
