<html>
  <head>
    <title>Threema Chat Output - <%= set.filename %></title>
    <meta name="viewport" , content="width=device-width, initial-scale=1" />
    <%- '<style>' + style + '</style>'%>
    <%- '<script>' + script + '</script>'%>
  </head>
  <body>
    <div class="chat-wrapper">
      <div class="entry-wrapper new-date fixed">
        <div class="date-bubble" id="fixed-date">MARCH 13, 2024</div>
      </div>
      <% const entries = Object.values(set.entries) %>
      <% for(let i =0; i <entries.length; i++) { %>
        <% if(entries[i].new_date) { %>
          <div class="entry-wrapper new-date">
            <div class="date-bubble" data-count="<%-entries[i].new_date_count%>">
              <%= entries[i].new_date %>
            </div>
          </div>
        <% } %>
        <div class="entry-wrapper <%= entries[i].isoutbox ? 'right' : 'left' %>">
          <div class="message-bubble">
            <% if (entries[i].type === 'TEXT') { %>
              <%- include('text', { message: entries[i] }) %>
            <% } else if (entries[i].type === 'FILE') { %>
              <%- include('file', { message: entries[i] }) %>
            <% } else if (entries[i].type === 'BALLOT') { %>
              <%- include('ballot', { message: entries[i] }) %>
            <% } else if (entries[i].type === 'LOCATION') { %>
              <%- include('location', { message: entries[i] }) %>
            <% } else { %>
                <div>Other</div>
            <% } %>
            <div class="date"><%- entries[i].formatted_date %></div>
          </div>
        </div>
      <% } %>
    </div>
  </body>
</html>
