<html>
  <head>
    <title>Threema Chat Output - <%= set.filename %></title>
    <meta name="viewport" , content="width=device-width, initial-scale=1" />
    <%- '<style>' + style + '</style>'%>
    <%- '<script>' + script + '</script>' %>
  </head>
  <body>
    <div class="chat-wrapper">
      <% const entries = Object.values(set.entries) %> 
      <% for(let i =0; i <entries.length; i++) { %>
        <% const side = entries[i].isoutbox ? 'right' : 'left'; %>
        <div class="entry-wrapper <%= side %>">
          <div class="message-bubble">
            <% if (entries[i].type === 'TEXT') { %>
              <%- include('text', { message: entries[i] }) %>
            <% } else if (entries[i].type === 'FILE') { %>
              <%- include('file', { message: entries[i] }) %>
            <% } else if (entries[i].type === 'BALLOT') { %>
              <%- include('ballot', { message: entries[i] }) %>
            <% } else if (entries[i].type === 'LOCATION') { %>
              <%- include('location', { message: entries[i] }) %>
            <% } else { %>
                <div>Other</div>
            <% } %>
            <div class="date"></div>
          </div>
        </div>
      <% } %>
    </div>
  </body>
</html>
